[package]
name = "procspawn"
version = "0.1.0"
authors = ["Armin Ronacher <armin.ronacher@active-4.com>", "Manish Goregaokar <manishsmail@gmail.com>"]
edition = "2018"
license = "MIT/Apache-2.0"
description = "thread::spawn just with processes"
homepage = "https://github.com/mitsuhiko/procspawn"
repository = "https://github.com/mitsuhiko/procspawn"
keywords = ["proc", "spawn", "subprocess"]
readme = "README.md"

[package.metadata.docs.rs]
all-features = true

[features]
default = ["backtrace"]
test-support = ["ctor"]

[dependencies]
ipc-channel = "0.13.0"
serde = { version = "1.0.104", features = ["derive"] }
backtrace = { version = "0.3.43", optional = true, features = ["serde"] }
libc = "0.2.66"
ctor = { version = "0.1.12", optional = true }
