name: Rust

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build
      run: cargo build --verbose
    - name: Run simple example
      run: cargo run --example simple
    - name: Run communicating example
      run: cargo run --example communicating